@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,300&display=swap');

@font-face {
    font-family: 'Butler Ultralight';
    src: url('fonts/Butler-UltraLight.woff2') format('woff2');
    font-style: normal;
  }

:root {
--main-bg-color: brown;
--black:#212121;
--grey1:#5e6472;
--grey2:#444444;
--grey3:#a1a3a7;
--violet:#E3E9FF;
--green:#C0E7E3;
--blue:#BBE8F6;
--white-bg: #f4f4f4;
--pink: #f1a1e3;
--beige:#F9EDDB;
--linesStyle:solid 0.8px var(--grey3);
--underline-padding-x: 0.12em;
}

*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Hide or show scrollbar */
body::-webkit-scrollbar {
    display: none;
}

/* lines background */
.bg-lines{
    width: 100%;
    height: 100%;
    position: absolute;
    /* z-index: -1; */
    display: flex;
    justify-content: center;
}
.line{
    width: 35%; 
    height: 100%;
    border-right: var(--linesStyle);
}
.line1{
    border-left: var(--linesStyle);
}
/* End lines background */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white-bg);
    margin: 0;
    padding: 0;
    position: relative;
    color: var(--grey2);
}
header{
    position: sticky; 
    top: 0; 
    width: 100%; 
    transition: 0.5s ease-in-out;
    z-index: 4;
}

header.scrolled {
    background: var(--white-bg);    
}

nav{ 
    display: flex; 
    justify-content:space-between;
    align-items:center;
    border: var(--linesStyle);
}

header .home{ 
    padding: 0;  
    height: 85px;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 0;
    border-right:var(--linesStyle);
    transition: 0.45s ease;
}

.home p{
   padding-left: 30%;
   margin: 0;
}

.btn-profile{
    height: 85px;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    border-left:var(--linesStyle);
    transition: 0.45s ease;
}

.home-profile:hover,
.btn-profile:hover,
.btn-profile:focus{
    box-shadow: inset 0 -7.5em 0 0 #97adff;
    color: #ffffff;
    font-weight: normal;
}

/* Hero section */
#hero , #about, #contact{
    display: flex ;
    width: 100%;
    margin: auto;
}

h1, h2{
    font-family: 'Butler Ultralight', serif;
    font-weight: 100;
    margin: 50px 0 0;
}
h1{
    font-size:140px;
}
h2{
    font-size: 120px;
    border: none;
    padding: 20px 18%;
    border-bottom: var(--linesStyle);
    border-top: var(--linesStyle);
}
a{
    text-decoration: none;
}
.center-bloc{
    padding: 50px;
    width: 70%;
}
.presentation{
    font-family: 'Butler Ultralight', serif;
    font-size:55px;
    margin: 0;  
}
.underlined, .underlined-02{
    background-image:linear-gradient(180deg, var(--pink), var(--pink));
    background-repeat: no-repeat;
    background-position: 0 88%;
    transition: background-size 0.5s ease;
}
.underlined {
    background-size: 100% 0.2em;
}
.underlined-02 {
    background-size:0 40%;
}
.underlined:hover{
    background-size: 100% 80%;
}
.underlined-02:hover{
    background-size:100% 40%;
}
.container-CTA{
    display: flex;
    justify-content: space-between;
    margin-top: 100px; 
}

.btn-download{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-width: 200px;
    height: 55px;
    background-color: var(--violet);
    border:var(--linesStyle);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--grey1);
    margin: auto;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.45s ease;
}
.btn-download:hover,
.btn-download:focus{
    box-shadow: inset 0 -3.5em 0 0 #97adff;
    color: #ffffff;
    font-weight: normal;
}

.container-CTA p{    
    margin: 0;
    width: 50%;
    padding-left: 20px;
}
/* End of hero section */

/* Decorative blocs */
.green-bloc, .beige-bloc, .blue-bloc, .blue-bloc-2{
    position: relative;
    width: 15%;
    z-index: -1;
}
.green-bloc{
    background-color: var(--green);
    margin-top: -85px;
}
.beige-bloc{
    background-color: var(--beige);
}
.green-bloc, .beige-bloc{
    height: 270px;
    transform-origin: top center;
    transition-property: height;
    transition-duration: 2.5s;
    animation: roll2 2s;
}
.blue-bloc{
    background-color: var(--blue);
    animation: roll 1.5s;
    transform-origin: bottom center;
    transition-property: width;
    transition-duration: 1s;
    margin-top: 10%;
    height: 280px;
}
.blue-bloc-2{
    height: 60vh;
    margin-top: -273px;
    transform-origin: top center;
    transition-property: height;
    transition-duration: 2.5s;
    animation: roll3 2s;
    background-color: var(--blue);    
}
 
@keyframes roll {
    0% {
        width: 0px;      
    } 
    100% {
        width: 15%;
    }
}
@keyframes roll2 {
    0% {
        height: 0px; 
    }
    100% {
        height: 270px;
    }
}
@keyframes roll3 {
    0% {
        height: 0px; 
    }
    100% {
        height: 60vh;
    }
}
/* End decorative blocs */

/* Projects section */

.bloc-projet{
    display: grid;
    grid-template-columns: 15% 1fr 1fr 15%;
    grid-template-rows: 1fr;
}

.projet-01 .projet-text, .projet-02 .img-container{
    grid-column: 2/3; 
}
.projet-01 .img-container, .projet-02 .projet-text{
    grid-column: 3/4;  
}


/* here the position is relative because the parallax */
.projet-text{
    position: relative;
    overflow: hidden; 
}
.big-number{
    position: relative;
    font-size: 180px;
    font-family: 'Butler Ultralight', serif;
    color: var(--grey2);
    left: -9%;  
}

.projet-description{
    padding: 20px 40px;
    margin-bottom: 0;
}

.projet-description h3{
    margin: 0;
}
.projet-description p{
    font-size: 16px;
}
.btn-arrow{
    float: right;
    margin-bottom: 15px; 
    border: solid 1px var(--black);
    border-radius: 100%;
    height: 65px;
    width: 65px;
    z-index: 2;
    transition: all 400ms ease;
    background-color: #ffffff;
}

.btn-arrow:hover{ 
    transform: rotate(-45deg);
}

.img-container{
    overflow: hidden;   
}
.projet-img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
#projet01, #projet02, #projet03, #projet04{    
    transition-property: background-color;
    transition-duration: 1s;
}
/* #projet01:hover, #projet02:hover, #projet03:hover, #projet04:hover{    
    transition-property: background-color;
    transition-duration: 1s;
}

#projet01:hover, #projet04:hover {
    background-color: var(--blue);
}

#projet02:hover{
    background-color: var(--violet);
}
#projet03:hover{
    background-color: var(--green);
} */

.separator{
    height: 100px;
    width: 100%;
    border-bottom: var(--linesStyle);
    border-top: var(--linesStyle);
}
/* Projet labels */
.tech-label-container{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.tech-label{
    background-color: var(--black);
    color: #ffffff;
    padding: 5px 10px; 
    margin: 10px 10px 0 0;
    border-radius: 0 20px 20px 0;
}

/* Contact section */
#contact{
    justify-content: center;
    align-content: center;
}

.bloc-contact{
    width: 70%;
    display: flex; 
    height: 400px;
    background-color: var(--violet);
    overflow: hidden;
}

.bloc-contact p, .bloc-contact ul{
    width: 50%;
    padding: 0;
    margin: 0;
}

.bloc-contact p{
    font-size: 140px;
    font-family: 'Butler Ultralight', serif;
    align-self: flex-end;
    position: relative;
    bottom: -60px;
  
}
.bloc-contact ul{
    height: 100%;
    z-index: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.bloc-contact a{
    color: var(--grey2);
    font-size: 17px;
    padding: 0;
    margin-bottom: 20px;     
}

.creator{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
/* End of contact section */

/* main{
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
} */

/* About section */
.center-bloc-about{
    width: 70%;
    display: flex;
}
.center-bloc-about .paragraph, .center-bloc-about img{
    width: 50%;
}
.center-bloc-about .paragraph{
    padding: 20px;
}
.center-bloc-about img{
    object-fit: cover;
    height: 100%;
}
.about-title{
    margin: 0;
    border-top: none;
}
@media only screen and (max-width: 1024px){
    .center-bloc-about .paragraph{
        padding: 10px;
    }
}
@media only screen and (max-width: 768px){
    .line{
        width: 70%; 
        border-left: var(--linesStyle);
    }
    .line1{
        display: none;
    }
    nav, header .home {
        height: 65px;
    }

    .container-CTA{
        flex-direction: column;
    }
    .container-CTA p{
        margin-top: 90px;
        width: 100%;
        padding-left: 0px;
    }
    .home, .btn-profile{   
        height: 65px;
        min-width: 115px;
    }
    .center-bloc{
        width: 80%;
        padding: 10px;
    }
    .green-bloc , .blue-bloc, .beige-bloc, .blue-bloc-2{
        width: 10%;
    }
    @keyframes roll {
        0% {
            width: 0px;      
        } 
        100% {
            width: 10%;
        }
    }
    .line{
        width: 80%;
    }
   
    h1{
        font-size:90px;
    }
    h2{
        font-size:70px;        
        padding: 10px 15%;
    }
    .presentation{
        font-size:35px;
    }
    
    .bloc-projet{ 
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: 350px 1fr;
    }  
    .projet-02 .img-container, .projet-02 .projet-text{
        grid-column: 2/3;
    }
    .projet-01 .projet-text{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .projet-01 .img-container{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .big-number{
        font-size: 140px;
        left: -5%; 
    }
    .img-container{
        border-bottom: var(--linesStyle);
        height: 350px; 
    }
    /* Contact section */
    .bloc-contact{
        width: 80%;
        height: 270px;
    }
    .bloc-contact p{
        font-size: 100px;
        bottom: -40px;
    }
    .bloc-contact a{
        font-size: 15px;
    }
    /* About section */
   
    .center-bloc-about{
        flex-direction: column;
        width: 80%;
    }

    #about .paragraph{
        padding: 10px;
        width: 100%;
    }   
    #about img{
        margin: auto;
    }
}


@media screen and (max-width: 480px){
    .bg-lines, #green-bloc,#blue-bloc, .beige-bloc, .blue-bloc-2 {
        display: none;
    }   
    .center-bloc, .center-bloc-about{
        width:  100% ;
        padding: 0 20px;
    }
    .bloc-projet{
        grid-template-columns: 1fr ;
    }
    .bloc-contact{
        width: 100%;
        height: 250px;
        padding: 0 20px;
        flex-direction: column;
    } 
    .bloc-contact :nth-child(1){
        order: 2;
        
    }   
    .bloc-contact p{
        font-size: 65px;
        bottom: -25px;
        align-self: self-start;
    }
    .bloc-contact ul {
        width: 100%;
    }

    .bloc-contact a{
        margin-bottom: 10px;
        padding: 0;
    }
    .big-number{
        font-size: 120px;
        left: -9%; 
    }
    .img-container{
        height: 300px;  
    }
    h2{
        text-align: center;
    }
    h1{
        margin-top: 30px;
    }
    .container-CTA{
        margin: 30px 0;
    }
    .container-CTA p{
        margin-top: 30px;
    }
    .separator{
        height: 40px;
    }
    .btn-arrow{
        height: 55px;
        width: 55px;
    }  
    #about img{
        margin-bottom: 30px;
        width: 100%;
        height: 250px;
    }
    #about .paragraph{
        font-size: 15px;
    }
   
}

